li a {
    color: blue;
}

.title {
    text-align: center;
    color: black;
}

.account {
    position: absolute;
    height: 200px;
    right: 20px;
    top:5px;
}

.paperadd {
    position: absolute;
    top: 5px;
}

.paperlist {
    top: 20px;
    text-align: left;
}


